Connected Services/ServicePolicial/ServicePolicial2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsuActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuClaveAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuPass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfTipoCuota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoCuota" nillable="true" type="tns:TipoCuota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoCuota" nillable="true" type="tns:ArrayOfTipoCuota" />
  <xs:complexType name="TipoCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="FecAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TCActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="TCDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCId" type="xs:int" />
      <xs:element minOccurs="0" name="TCMonto" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdAlta" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdModif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoCuota" nillable="true" type="tns:TipoCuota" />
  <xs:complexType name="Socio">
    <xs:sequence>
      <xs:element minOccurs="0" name="FecAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocAtivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="SocCI" type="xs:int" />
      <xs:element minOccurs="0" name="SocCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocFechaEgreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocFechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocFechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocId" type="xs:int" />
      <xs:element minOccurs="0" name="SocMotivoEgreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocObservaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocPrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocPrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocSegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocSegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocTipoCuota" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdAlta" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdModif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Socio" nillable="true" type="tns:Socio" />
  <xs:complexType name="Cuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuotaAAAAMM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuotaFechaDesde" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CuotaFechaHasta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CuotaFechaPaga" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CuotaId" type="xs:int" />
      <xs:element minOccurs="0" name="CuotaPaga" type="xs:boolean" />
      <xs:element minOccurs="0" name="CuotaTipo" type="xs:int" />
      <xs:element minOccurs="0" name="FecAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SocId" type="xs:int" />
      <xs:element minOccurs="0" name="TC" nillable="true" type="tns:TipoCuota" />
      <xs:element minOccurs="0" name="UsuIdAlta" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdModif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuota" nillable="true" type="tns:Cuota" />
  <xs:complexType name="ArrayOfSocio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Socio" nillable="true" type="tns:Socio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocio" nillable="true" type="tns:ArrayOfSocio" />
  <xs:complexType name="NucleoFamiliar">
    <xs:sequence>
      <xs:element minOccurs="0" name="FecAlta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FecModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NFActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="NFCI" type="xs:int" />
      <xs:element minOccurs="0" name="NFCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFFechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NFId" type="xs:int" />
      <xs:element minOccurs="0" name="NFPrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFPrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFSegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFSegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NFobservaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NfTipoVinculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdAlta" type="xs:int" />
      <xs:element minOccurs="0" name="UsuIdModif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NucleoFamiliar" nillable="true" type="tns:NucleoFamiliar" />
  <xs:complexType name="ArrayOfNucleoFamiliar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NucleoFamiliar" nillable="true" type="tns:NucleoFamiliar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNucleoFamiliar" nillable="true" type="tns:ArrayOfNucleoFamiliar" />
  <xs:complexType name="ArrayOfCuota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuota" nillable="true" type="tns:Cuota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuota" nillable="true" type="tns:ArrayOfCuota" />
  <xs:complexType name="ArrayOfImpresion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Impresion" nillable="true" type="tns:Impresion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImpresion" nillable="true" type="tns:ArrayOfImpresion" />
  <xs:complexType name="Impresion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuotaImp" nillable="true" type="tns:Cuota" />
      <xs:element minOccurs="0" name="SocioImp" nillable="true" type="tns:Socio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Impresion" nillable="true" type="tns:Impresion" />
</xs:schema>