Connected Services/ServicioPolicialWCF/ServicioPolicial2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="UsuActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="UsuClaveAcceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuPass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
</xs:schema>